<footer class="pandora-footer">
  <div class="footer-grid">
    <div class="footer-col">
      <h4>SHOP</h4>
      <ul>
        <li>צ'ארמס</li>
        <li>צמידים</li>
        <li>טבעות</li>
        <li>שרשראות</li>
        <li>עגילים</li>
        <li>תכשיטי חריטה</li>
        <li>מתנות</li>
        <li>DISNEY X PANDORA</li>
        <li>GIFT CARD</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>שירותים</h4>
      <ul>
        <li><a routerLink="/stores">סניפי הרשת</a></li>
        <li>קריירה בפנדורה</li>
        <li>שאלות ותשובות</li>
        <li>מדיניות פרטיות</li>
        <li>שאלות ותשובות - חריטה</li>
        <li>אחריות תכשיטים</li>
        <li><a routerLink="/terms">תקנון האתר</a></li>
        <li>בלוג תכשיטים ואופנה</li>
        <li>התכשיטים שלנו</li>
        <li>צרו קשר</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>מידע שימושי</h4>
      <ul>
        <li>תקנון מועדון לקוחות</li>
        <li>אודות פנדורה</li>
        <li>מדיניות החזרות/החלפות</li>
        <li>מדיניות משלוחים</li>
        <li>ניקוי תכשיטים</li>
        <li>ביטול עסקה</li>
        <li>הצהרת נגישות</li>
        <li>תקנון פעילות אינסטגרם</li>
        <li>תקנון הטבה 1+2</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>איזור אישי</h4>
      <ul>
        <li><a routerLink="/login">כניסה והרשמה</a></li>
        <li>החשבון שלי</li>
        <li>בדיקת יתרת גיפט קארד</li>
        <li>ההזמנות שלי</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>צרו קשר</h4>
      <ul>
        <li>כתבו לנו</li>
        <li>Whatsapp</li>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </div>
  </div>

  <div class="footer-icons-row">
    <div class="icon-item">
      <i class="pi pi-id-card"></i>
      <span>GIFT CARD</span>
    </div>
    <div class="icon-item">
      <i class="pi pi-map-marker"></i>
      <span>הסניפים שלנו</span>
    </div>
    <div class="icon-item">
      <i class="pi pi-briefcase"></i>
      <span>בואו לעבוד איתנו</span>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="social-links">
      <i class="pi pi-facebook"></i>
      <i class="pi pi-youtube"></i>
      <i class="pi pi-instagram"></i>
      <i class="pi pi-pinterest"></i>
    </div>
    <img src="images/logo.png" alt="Pandora" class="footer-logo-img">
    <p>Pandora 2026 © | Developed by Elisheva Polsky & Zehavi Kornvasser</p>
  </div>
</footer>