<!-- <div class="terms-page-container">
  <p-card header="תקנון אתר PANDORA">
    <div class="terms-content">
      <p class="last-update">עודכן לאחרונה: פברואר 2026</p>
      
      <section>
        <h3>1. מבוא וכללי</h3>
        <p>אתר זה מופעל על ידי סיטי טיים בע"מ. השימוש באתר כפוף לתנאי השימוש המפורטים להלן...</p>
      </section>

      <p-divider></p-divider>

      <section>
        <h3>2. רכישת מוצרים באתר</h3>
        <p>רכישת מוצרים תתאפשר ללקוחות רשומים או אורחים, בכפוף לאישור חברת האשראי...</p>
      </section>

      <p-divider></p-divider>

      <section>
        <h3>3. מדיניות משלוחים</h3>
        <p>משלוח חינם יינתן ברכישה מעל 299₪, כפי שמופיע בסרגל המבצעים העליון.</p>
      </section>
    </div>
  </p-card>
</div> -->